.App {
  text-align: center;
}
header {
  background-color: slategrey;
}
#hp-grid {
  margin: 0 auto;
  display: flex;
  flex-flow: column;
}

#form-box {
  height: 40vh;
  width: 85%;
  background-color: gray;
  margin: 10px auto;
}
.recipe img {
  height: 10vh;
  width: 20vw;
  background-color: rgb(69, 69, 136);
}
